
@page
{
    size:A4;
    margin: 20px;
}
#print-btn
{
    display: none;
    visibility: none;
}
#btn_top{
    display: none;
    visibility: none;
}
body{
    background: none;
    color: black;
    zoom:65%;
}

header{
    display: none;
}

.addsuivis .titrecreer {
    position: relative;
    text-align: center;
    justify-content: center;
    top: 0;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 20px;
}
body {
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
font-family: "Gill Sans MT";
align-content: stretch;
flex-wrap: wrap;
}

.block_enligne {
    position: block;
  
  
  }
  .block_enligne input {
    margin-top: 10px;
  } 

  .plan_act {
    margin-top: 20px;
    text-align: center;
    font-style: bold;
    font-size: 3em;
  }

  .tableau{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .table{
    position:relative;
    margin-top: 20px;
    width: 80%;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(32,32,32,.3);
    background: #FFFFFF;
    text-align: center;
    vertical-align:middle;
  }

  @media print {
    .pagebreak { page-break-before: always; } /* page-break-after works, as well */
}
input {
    max-width: 300px;
}

select {
    max-width: 300px;
}

.langue_anglais {
    position: relative;
    top: -190px;
    left: 500px;
}

#autre_langue1 {
    position: relative;
    top: -150px;
}

#oui_langue_autre {
    position: relative;
    top: -10px;
}
  
