
.navbar-nav > li{
  padding-right:100px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #000000;
}

nav{
  background-color: #ff83cb;
}

.nav_msg {
  font-size: larger;
}

body {
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: url(../img/fond.png) no-repeat;
background-size: cover;
font-family: "Gill Sans MT";
background-repeat: no-repeat;
}
header {
position:absolute;
top: 0;
left: 0;
width: 100%;
}
.wrapper {
position: relative;
width: 400px;
height: 440px;
background: transparent;
border: 2px solid rgba(255, 255, 255, .5);
border-radius: 20px;
backdrop-filter: blur(20px);
box-shadow: 0 0 30px rgba(0, 0, 0, .5);
display: flex;
justify-content: center;
align-items: center;
}
.wrapper .form-box {
width: 100%;
padding: 40px;
}
.form-box h2 {
font-size: 2em;
color: #162938;
text-align: center;
}
.input-box {
position: relative;
width: 100%;
height: 50px;
border-bottom: 2px solid #162938;
margin: 30px 0;
}
.input-box label {
position: absolute;
top: 50%;
left: 5px;
transform: translateY(-50%);
font-size: 1em;
color: #162938;
font-weight: 500;
pointer-events: none;
transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
top: -5px;
}

.input-box input {
width: 100%;
height: 100%;
background: transparent;
border: none;
outline: none;
font-size: 1em;
color: #fff;
font-weight: 600;
}
.input-box .icon {
position: absolute;
right: 8px;
font-size: 1.2em;
color: #162938;
line-height: 57px;
}
.btn {
width: 100%;
height: 45px;
background: #162938;
border: none;
outline: none;
border-radius: 6px;
cursor: pointer;
font-size: 1em;
color: #fff;
font-weight: 500;
}
.btn_modifier {
  font-size: 13px;
  font-weight: bold;
  background: #1e90ff;
  width: 110px;
  height: 40px;
  padding: 12px;
  margin-bottom: 13px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;

}
.btn_modifier:hover, .btn_modifier:focus, .btn_modifier:active{
box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
-webkit-transform: scale(1.1);
transform: scale(1.1);
}

@media screen and (max-width:1200px) {
.box {
    width: 40%;
}
}
@media screen and (max-width:600px) {
.box {
    width: 90%;
}
}

.creer_acc{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position:relative;
  width: 100%;
  padding-top: 25px;
  background: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  margin-bottom:3rem ;
}

.creer_acc .titre_acc{
  font-size: 1.5rem;
  font-weight:bold;
  text-align: center;
}

.liste_acc .titre_acc{
  font-size: 1.5rem;
  font-weight:bold;
  text-align: center;
  padding-bottom:13px;
}

.form_acc .input-box_acc{
  width:100%;
}

.input-box_acc .tbx_acc{
  position: relative;
  height: 50px;
  width:50%;
  outline: none;
  font-size:1rem;
  color: #707070;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}


.input-box_acc{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  padding: 10px;
}

.input-box_acc .acc_name{
  margin-top:13px;
}



.btn_acc_c {
  border: 0px;
  font-size: 15px;
  font-weight: bold;
  background: #2ed219;
  width: 120px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: .5s;
}
.btn_acc_c:hover{
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}


.liste_acc{
  position:relative;
  width: 100%;
  background: #f4f4f4;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}

.titre_liste_acc{
  margin-bottom:2rem;
  text-align: center;
  font-weight: bold;
}

.box_liste_acc{
  position: relative;
  height: 50px;
  width:100%;
  outline: none;
  font-size:1rem;
  color: #707070;
  background-color: #FFFFFF;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  margin:10px;
}

.box_liste_acc .liste_name_acc{
  margin-top:11px;
  position:relative;
  color:#000000;
  font-size: large;
}
.btn_liste_acc{
  display: flex;
  flex-direction: row;
}

.btn_acc_m {
  font-size: 15px;
  margin:10px;
  font-weight: bold;
  background: #1e90ff;
  width: 120px;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.btn_acc_s {
  margin:10px;
  font-size: 15px;
  font-weight: bold;
  background: #ff1e1e;
  width: 120px;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: .5s;
}
.btn_acc_s:hover{
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.un_acc{
  display: flex;
  flex-direction: row;
}

.page_acc{
  margin-top:8rem;
  width: 40%;
  padding: 10px;
}

html{
  scroll-behavior: smooth;
}

.alert{
  display: flex ;
  flex-direction: row;
  justify-content: center;
  position:absolute;
  z-index: 1;
  width: 100%;
  top: 75px;
}
.off {
  visibility: hidden;
}
.addsuivis .titrecreer {
  position: relative;
  text-align: center;
  justify-content: center;
  top: 0;
}

.btn_top{
  position: fixed;
  border-radius: 10px;
  bottom: 25px;
  right: 25px;
  color: white;
  font-size: 30px;
  transition: .5s;
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}
.btn_top:hover{
  transform: scale(1.4);
}
.form {
  position: block;
  margin: 50px;
}
.block_enligne {
  position: block;


}
.block_enligne input {
  margin-top: 10px;
} 
.addsuivis form {
  margin: 20px;
  
}
.accompagnateur {
  margin-top: 10px;
}

.input_boxe input {
  position: relative;
  height: 30px;
  width: 150px;
  outline: none;
  border: 1px solid #ddd;
  padding: 0 5px;
  margin-bottom: 10px;
  border-radius: 8px;
}
.input_suivis {
  margin-top: 10px;
  position: relative;
  height: 30px;
  width: 150px;
  outline: none;
  border: 1px solid #ddd;
  padding: 0 5px;
  border-radius: 8px;
}
.inscrit {
  margin-left: 10px;
}
.decale {
  margin-left: 10px;
}
.accompagnateur {
  margin-left: 30px;
  margin-top: 20px;
}
.addsuivis {
  position: flex;
  flex-direction: column;
  background: url(../img/suivis_background.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 150px;
  border-radius: 8px;
  width: 80%;
  height: auto;
  background-color: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}
.information {
  position: relative;
  left: 150px;
  font-size: 1.5em;
  font-style: oblique;
}
.information2 {
  position: relative;
  top: -35px;
  margin-left: 70%;
  font-size: 1.5em;
  font-style: oblique;
}
.emplois_prec {
  position: relative;
  left: 150px;
  font-size: 1.5em;
  font-style: oblique;
}
#nationalite label {
  margin-left: 150px;
}
.sit_perso {
  position: relative;
  top: -350px;
  margin-left: 50%;
  width: 50%;
  border-radius: 1px solid black;
}
.barre_recherche{
  margin-top: 95px;
  z-index: 2;
  position: relative;
  max-width: 50%;
  background-color: #f4f4f4;
  border-radius: 6px;
  padding: 12px;
  width:fit-content;
}

.dropdown{
  font-size: 20px;
}

.dropdown-item:active{
  background-color: #a7a7a7;
}

#img_search{
  width: 16px;
  position: relative;
}

.barre_recherche input{
  font-size: 15px;
  padding-left: 10px;
  outline: 0px;
  border: 0px;
  color: #000;
  background-color: #f4f4f4;
}
#centre_num {
  display: none;
}
#date_rea1 {
  display: none;
}

#enfant_naissance {
  display: none;
}

#preciser {
  display: none;
}

#pole_emplois {
  display: none;
}

#mission {
  display: none;
}
#cap {
  display: none;
}

#cv {
  display: none;
}

#date_cv{
  display: none;
}

#motos {
  display: none;
}

#auto {
  display: none;
}

#march {
  display: none;
}

#achat1 {
  display: none;
}

#date_rea1 {
  display: none;
}

#date_rea2 {
  display: none;
}

#date_rea3 {
  display: none;
}

#date_rea4 {
  display: none;
}

#date_rea5 {
  display: none;
}

.partie3 {
  position: relative;
  top: -150px;
}

.btn_term {
  font-size: 13px;
  font-weight: bold;
  background: #ff9100;
  width: 110px;
  height: 40px;
  padding: 12px;
  margin-bottom: 13px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  
  }
  .btn_term:hover, .btn_term:focus, .btn_term:active{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  }
  .table{
    position:relative;
    margin-top: 20px;
    width: 80%;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(32,32,32,.3);
    background: #FFFFFF;
    text-align: center;
    vertical-align:middle;
  }

  thead{
    background-color: #ffffff;
    text-transform: uppercase;
  }

tr:nth-child(odd){
  background-color: #eeeeee;
}

td{
  font-size: 20px;
}

.tableau .btn_modifier{
  margin-top: 10px;
}

.tableau{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page_list_suivis{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.table>:not(caption)>*>* {
  padding: 10px;
}

select.form-control {
  display: inline;
  max-width: 300px;
  width: auto;
  height: 40px;
}

select#accompagnateur.form-control {
  display: inline;
  max-width: 320px;
  height: 40px;
}
select#civilite.form-control {
  display: inline;
  max-width: 340px;
  height: 40px;
  padding: .5rem .5rem;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
}

.btn_reprendre{
  font-size: 13px;
  font-weight: bold;
  background: #ff1eec;
  width: 110px;
  height: 40px;
  padding: 12px;
  margin-bottom: 13px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.btn_reprendre:hover, .btn_reprendre:focus, .btn_reprendre:active{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  }

.tableau .btn_reprendre{
  margin-top: 10px;
}
#rens_dipl {
  display: none;
}
#niveau {
  display: none;
}
.niveau_form {
  position: relative;
  left: 150px;
  font-size: 1.5em;
  font-style: oblique;
}
h2.org {
  position: relative;
  left: 150px;
  font-size: 1.5em;
  font-style: oblique;
}
h2.entr {
  position: relative;
  left: 150px;
  font-size: 1.5em;
  font-style: oblique;
}
.em44 {
  height: 400px;
}
textarea {
  resize: none;
}
textarea.form-control {
    height: 100;
}
.orga {
  position: relative;
  top: -120px;
}
.entr_c {
  position: relative;
  top: -90px;
}
#formati {
  display: none;
}
#renseign {
  display: none;
}
#dipl_prep {
  display: none;
}
#oui_formpro {
  display: none;
}
#if_dipl {
  display: none;
}
#if_qual {
  display: none;
}
.barre_recherche form{
  margin: 0px;
}
button#suppr_creer.btn_modifier {
  background-color: red;
}

.btn_dem{
  font-size: 13px;
  font-weight: bold;
  background: #00ff4c;
  width: 180px;
  height: 40px;
  padding: 12px;
  margin-bottom: 13px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.btn_dem:hover, .btn_dem:focus, .btn_dem:active{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  }

.table_sortable th{
  cursor: pointer;
}
.table_sortable .th-sort-asc::after{
  content: "\25b4";
}
.table_sortable .th-sort-desc::after{
  content: "\25be";
}
.table_sortable .th-sort-asc::after,
.table_sortable .th-sort-desc::after{
  margin-left: 5px;
}

.table_sortable .th-sort-asc,
.table_sortable .th-sort-desc{
  background: rgba(0,0,0,0.1);
}
div#tabl.tableau {
  order: -10;
}

div.avance {
  position: relative;
  bottom: 0;
}
button#continuer.btn_modifier {
  position: relative;
  left: 80%;
  width: 200px;
  height: 70px;
}
.plan_act {
  margin-top: 20px;
  text-align: center;
  font-size: 1.5em;
  font-style: bold;
  font-size: 3em;
}
#cdd {
  display: none;
}

#cdi {
  display: none;
}

#formation {
  display: none;
}

#stage {
  display: none;
}

#abandon {
  display: none;
}

#nonret {
  display: none;
}

#siautre {
  display: none;
}